<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.business.mapper.ExecutionHistoryOptionMapper">
    <resultMap type="com.example.business.entity.VO.HistoryOptionVO"  id="HistoryOptionResult">
        <id property="id" column="ID"/>
        <result property="historyId" column="HISTORY_ID"/>
        <result property="optionName" column="OPTION_NAME"/>
        <result property="probability" column="PROBABILITY"/>
    </resultMap>

    <resultMap id="ReportHistoryEntity" type="com.example.business.entity.HistoryEntity">
        <id property="id" column="ID"/>
        <result property="randomCategory" column="RANDOM_CATEGORY"/>
        <result property="runResult" column="RUN_RESULT"/>
        <result property="runTime" column="RUN_TIME" />
        <result property="optionName" column="OPTION_NAME"/>
        <result property="probability" column="PROBABILITY"/>
    </resultMap>

    <select id="findHistoryByHistoryId" resultMap="HistoryOptionResult">
        SELECT
        ID,
        HISTORY_ID,
        OPTION_NAME,
        PROBABILITY
        FROM
        EXECUTION_HISTORY_OPTION
        WHERE
        HISTORY_ID = #{historyId}
    </select>

    <insert id="addHistoryOptionByAll" parameterType="list">
        INSERT INTO EXECUTION_HISTORY_OPTION(
        ID,
        HISTORY_ID,
        OPTION_NAME,
        PROBABILITY
        )
        VALUES
        <foreach collection="list" item="historyOptionDTO" separator=",">
        (
        #{historyOptionDTO.id},
        #{historyOptionDTO.historyId},
        #{historyOptionDTO.optionName},
        #{historyOptionDTO.probability}
        )
        </foreach>
    </insert>

    <delete id="deleteHistoryOptionByHistoryIds">
        DELETE FROM EXECUTION_HISTORY_OPTION
        WHERE HISTORY_ID IN
        <foreach collection="list" item="historyId" open="(" separator="," close=")">
            #{historyId}
        </foreach>
    </delete>

    <delete id="deleteHistoryOptionAll">
        DELETE FROM EXECUTION_HISTORY_OPTION WHERE 1=1
    </delete>

    <select id="getHistoryAndOption" resultMap="ReportHistoryEntity">
        SELECT
        a.ID AS ID,
        a.RANDOM_CATEGORY AS RANDOM_CATEGORY,
        a.RUN_RESULT AS RUN_RESULT,
        a.RUN_TIME AS RUN_TIME,
        b.OPTION_NAME AS OPTION_NAME,
        CONCAT(FORMAT(b.PROBABILITY,2), '%') AS PROBABILITY
        FROM EXECUTION_HISTORY_OPTION b
        LEFT JOIN EXECUTION_HISTORY a
        ON b.HISTORY_ID = a.ID
        <where>
            <if test="randomCategory != null and randomCategory != '' ">
                AND a.RANDOM_CATEGORY LIKE CONCAT('%', #{randomCategory}, '%')
            </if>
            <if test="byUser != null and byUser != '' ">
                AND a.BY_USER = #{byUser}
            </if>
            <if test="startTime != null and startTime != '' ">
                AND a.RUN_TIME &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != '' ">
                AND a.RUN_TIME &lt;= #{endTime}
            </if>
        </where>
        ORDER BY a.ID

    </select>

</mapper>