<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.business.mapper.ExecutionHistoryOptionMapper">
    <resultMap type="com.example.business.entity.VO.HistoryOptionVO"  id="HistoryOptionResult">
        <id property="id" column="ID"/>
        <result property="historyId" column="HISTORY_ID"/>
        <result property="optionName" column="OPTION_NAME"/>
        <result property="probability" column="PROBABILITY"/>
    </resultMap>

    <select id="findHistoryByHistoryId" resultMap="HistoryOptionResult">
        SELECT
        ID,
        HISTORY_ID,
        OPTION_NAME,
        PROBABILITY
        FROM
        EXECUTION_HISTORY_OPTION
        WHERE
        HISTORY_ID = #{historyId}
    </select>

    <insert id="addHistoryOptionByAll" parameterType="list">
        INSERT INTO EXECUTION_HISTORY_OPTION(
        ID,
        HISTORY_ID,
        OPTION_NAME,
        PROBABILITY
        )
        VALUES
        <foreach collection="list" item="historyOptionDTO" separator=",">
        (
        #{historyOptionDTO.id},
        #{historyOptionDTO.historyId},
        #{historyOptionDTO.optionName},
        #{historyOptionDTO.probability}
        )
        </foreach>
    </insert>

    <delete id="deleteHistoryOptionByHistoryIds">
        DELETE FROM EXECUTION_HISTORY_OPTION
        WHERE HISTORY_ID IN
        <foreach collection="list" item="historyId" open="(" separator="," close=")">
            #{historyId}
        </foreach>
    </delete>

</mapper>