<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.business.mapper.ExecutionHistoryMapper">

        <resultMap type="com.example.business.entity.VO.HistoryVO" id="HistoryResult">
		<id     property="id"     column="ID"     />
		<result property="randomCategory"   column="RANDOM_CATEGORY"   />
		<result property="byUser"   column="BY_USER"   />
		<result property="runResult"   column="RUN_RESULT"/>
		<result property="isExport"   column="IS_EXPORT"   />
		<result property="runTime"   column="RUN_TIME"   />
		<result property="deleteTime"   column="DELETE_TIME"   />
		<result property="exportTime"   column="EXPORT_TIME"   />
	</resultMap>

    <select id="findHistoryByAll" resultMap="HistoryResult">
        SELECT
        ID,
        RANDOM_CATEGORY,
        BY_USER,
        RUN_RESULT,
        IS_EXPORT,
        RUN_TIME,
        DELETE_TIME,
        EXPORT_TIME
        FROM
        EXECUTION_HISTORY
        <where>
            <if test="id != null and id != '' ">
                AND ID = #{id}
            </if>
            <if test="randomCategory != null and randomCategory != '' ">
                AND RANDOM_CATEGORY = #{randomCategory}
            </if>
            <if test="byUser != null and byUser != '' ">
                AND BY_USER = #{byUser}
            </if>
        </where>
    </select>

    <insert id="addHistoryByAll" parameterType="com.example.business.entity.DTO.HistoryDTO">
        INSERT INTO EXECUTION_HISTORY(
        ID,
        RANDOM_CATEGORY,
        BY_USER,
        RUN_RESULT,
        RUN_TIME
        )
        VALUES(
        #{id},
        #{randomCategory},
        #{byUser},
        #{runResult},
        DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
        )
    </insert>

    <delete id="deleteHistoryByIds">
        DELETE FROM EXECUTION_HISTORY
        WHERE ID IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteHistoryByUser">
        DELETE FROM EXECUTION_HISTORY
        WHERE BY_USER = #{byUser}
    </delete>
</mapper>