<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.business.mapper.RandomCategoryMapper">

    <resultMap type="com.example.business.entity.VO.CategoryVO" id="CategoryResult">
		<id     property="id"     column="ID"     />
		<result property="categoryName"   column="CATEGORY_NAME"   />
		<result property="byUser"   column="BY_USER"   />
		<result property="createTime"   column="CREATE_TIME"/>
		<result property="updateTime" column="UPDATE_TIME"/>
		<result property="isApply"   column="IS_APPLY"   />
	</resultMap>


    <select id="findAllCategory" resultMap="CategoryResult">
        SELECT
        ID,
        CATEGORY_NAME,
        BY_USER,
        CREATE_TIME,
        UPDATE_TIME,
        IS_APPLY
        FROM RANDOM_CATEGORY
        <where>
            <if test="id != null and id != '' ">
                AND ID = #{id}
            </if>
            <if test="categoryName != null and categoryName != '' ">
                AND CATEGORY_NAME = #{categoryName}
            </if>
            <if test="byUser != null and byUser != '' ">
                AND BY_USER = #{byUser}
            </if>
            <if test="isApply != null ">
                AND IS_APPLY = #{isApply}
            </if>
        </where>
        ORDER BY CREATE_TIME DESC
    </select>

    <insert id="insertCategory" parameterType="com.example.business.entity.DTO.CategoryDTO">
        INSERT INTO RANDOM_CATEGORY
        (
        ID,
        CATEGORY_NAME,
        BY_USER,
        CREATE_TIME
        )
        VALUES(
        #{id},
        #{categoryName},
        #{byUser},
        DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
        )
    </insert>

    <update id="updateCategory" parameterType="com.example.business.entity.DTO.CategoryDTO">
        UPDATE RANDOM_CATEGORY
        <set>
            <if test="categoryName != null and categoryName != ''">
                CATEGORY_NAME = #{categoryName},
            </if>
            <if test="isApply != null">
                IS_APPLY = #{isApply},
            </if>
            UPDATE_TIME = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
        </set>
        WHERE ID = #{id}
    </update>

    <delete id="deleteByOptionId">
        DELETE FROM RANDOM_CATEGORY
        WHERE ID = #{id}
    </delete>

    <delete id="deleteCategoryByIsApply">
        DELETE FROM RANDOM_CATEGORY
        WHERE IS_APPLY = 1
    </delete>

    <update id="updateRestoreCategory">
        UPDATE RANDOM_CATEGORY
        SET IS_APPLY = 0
        WHERE BY_USER = #{byUser}
    </update>

    <delete id="deleteAllByUser">
        DELETE FROM RANDOM_CATEGORY
        WHERE IS_APPLY = 1 AND BY_USER = #{byUser}
    </delete>

</mapper>