<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.business.mapper.RandomCategoryOptionMapper">
    
    <resultMap type="com.example.business.entity.ChooseEntity" id="ChooseResult">
		<id     property="id"     column="ID"     />
		<result property="optionName"   column="OPTION_NAME"   />
		<result property="probabilityProportion"   column="PROBABILITY_PROPORTION"   />
		<result property="inCategory"     column="IN_CATEGORY"      />
		<result property="createTime"   column="CREATE_TIME"/>
		<result property="updateTime" column="UPDATE_TIME"/>
		<result property="isApply"   column="IS_APPLY"   />
	</resultMap>

    <select id="findRandomCategoryOptionByForeignId" resultMap="ChooseResult" parameterType="com.example.business.entity.ChooseEntity">
        SELECT
        ID,
        OPTION_NAME,
        PROBABILITY_PROPORTION,
        IN_CATEGORY,
        CREATE_TIME,
        UPDATE_TIME,
        IS_APPLY
        FROM RANDOM_CATEGORY_OPTION
        <where>
            <if test="inCategory != null and inCategory != ''">
               AND IN_CATEGORY = #{inCategory}
            </if>
            <if test="isApply != null">
               AND IS_APPLY = #{isApply}
            </if>
        </where>
    </select>

    <insert id="insertCategoryOption" parameterType="com.example.business.entity.ChooseEntity">
        INSERT INTO RANDOM_CATEGORY_OPTION(
        ID,
        OPTION_NAME,
        IN_CATEGORY,
        CREATE_TIME
        )
        VALUES(
        #{id},
        #{optionName},
        #{inCategory},
        DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
        )
    </insert>

    <update id="updateCategoryOption" parameterType="com.example.business.entity.ChooseEntity">
        UPDATE RANDOM_CATEGORY_OPTION
        <set>
            <if test="optionName != null and optionName != ''">
                OPTION_NAME = #{optionName},
            </if>
            <if test="probabilityProportion != null and probabilityProportion != ''">
                PROBABILITY_PROPORTION = #{probabilityProportion},
            </if>
            <if test="inCategory != null and inCategory != ''">
                IN_CATEGORY = #{inCategory},
            </if>
            <if test="isApply != null">
                IS_APPLY = #{isApply},
            </if>
            UPDATE_TIME = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
        </set>
        WHERE ID = #{id}
    </update>

    <delete id="deletePhysicByOptionId">
        DELETE FROM RANDOM_CATEGORY_OPTION
        WHERE ID = #{id}
    </delete>

    <delete id="deletePhysicByInCategory">
        DELETE FROM RANDOM_CATEGORY_OPTION
        WHERE IN_CATEGORY = #{inCategory}
    </delete>

    <update id="updateByCategoryId" parameterType="string">
        UPDATE RANDOM_CATEGORY_OPTION
        SET IS_APPLY =
        CASE
            WHEN IS_APPLY = 0 THEN 1
            WHEN IS_APPLY = 1 THEN 0
        END
        WHERE IN_CATEGORY = #{categoryId}
    </update>

    <delete id="deleteOptionByIsApply">
        DELETE FROM RANDOM_CATEGORY_OPTION
        WHERE IS_APPLY = 1
    </delete>

    <update id="updateRestoreOption">
        UPDATE RANDOM_CATEGORY_OPTION
        SET IS_APPLY = 0
        WHERE IN_CATEGORY = #{id}
    </update>

    <delete id="deleteOptionById">
        DELETE FROM RANDOM_CATEGORY_OPTION
        WHERE IN_CATEGORY = #{id} AND IS_APPLY = 1
    </delete>
</mapper>