/* 设置 h1 元素的大小和位置 */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
	/* background-color: #f0f0f0; */
}
#chooseTest {
    font-size: 50px; /* 字体大小 */
    width: 1000px; /* 宽度 */
    height: 50px; /* 高度 */
    position: relative; /* 相对定位 */
	top: -120px; /* 距离顶部位置 */
	left: 0px; /* 距离左侧位置 */
	text-align: center;
	display: block;
	
}

/* 设置 select 元素的大小和位置 */
#options {
	font-size: 15px;
    width: 250px; /* 宽度 */
    height: 40px; /* 高度 */
    position: relative; /* 相对定位 */
    top: -50px; /* 距离顶部位置 */
    left: 0px; /* 距离左侧位置 */
	border: 1px solid #ccc; /* 边框 */
	border-radius: 5px;
}
select#options:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 悬停时的阴影效果 */
}

/* 设置 button 元素的大小和位置 */
#startButton {
    font-size: 20px;
    width: 200px; /* 宽度 */
    height: 100px; /* 高度 */
    position: relative; /* 相对定位 */
    top: 50px; /* 距离顶部位置 */
    left: 0px; /* 距离左侧位置 */
    background-color: #007bff; /* 按钮背景色 */
    color: white; /* 按钮文字颜色 */
    border: none; /* 无边框 */
    border-radius: 10px; /* 圆角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 按钮阴影 */
    cursor: pointer; /* 鼠标指针样式 */
    transition: background-color 0.3s, transform 0.3s; /* 过渡效果 */
}
#startButton:hover {
    background-color: #0056b3; /* 悬停时背景色 */
    transform: translateY(+5px); /* 悬停时上移 */
}
#startButton:active {
    background-color: #003f7f; /* 点击时背景色 */
    transform: translateY(2px); /* 点击时下移 */
}
button#startButton.disabled {
    background-color: #aaa; /* 灰色背景色 */
    cursor: not-allowed; /* 禁用指针样式 */
}

option{
	font-size: 15px;
}