/* /* styles.css */

body {
    /* font-family: Arial, sans-serif; */
    margin: 30px;
    padding: 10px;
    /* display: flex; */
/*    justify-content: center;
    align-items: center;
    height: 100vh; */
    /* background-color: #f0f0f0; */
}
/* history.css */  
  
.search-container {  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    margin-bottom: 30px; /* 下边距，使表格与搜索框之间有空间 */  
}  
  
.search-input,  
.search-button {  
    border: 1px solid #ccc; /* 添加边框 */  
    border-radius: 5px; /* 添加圆角 */  
    padding: 10px; /* 添加内边距 */  
    font-size: 16px; /* 字体大小 */  
}  
  
.search-input {  
    flex: 1; /* 让输入框占据可用空间的相同部分 */  
    margin-right: 150px; /* 右边距，使输入框与按钮之间有空间 */  
}  
  
.search-button {  
    margin-right: 20px;  
    color: white; /* 文本颜色 */  	
	background-color: #007bff; /* 按钮背景色 */
	color: white; /* 按钮文字颜色 */
	border: none; /* 无边框 */
	border-radius: 10px; /* 圆角 */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 按钮阴影 */
	cursor: pointer; /* 鼠标指针样式 */
	transition: background-color 0.3s, transform 0.3s; /* 过渡效果 */
	width: 100px;
}  

.search-button:hover {
    background-color: #0056b3; /* 悬停时背景色 */
}
.search-button:active {
    background-color: #003f7f; /* 点击时背景色 */
}

.delete-button {  
	margin-right: 20px;
	color: white; /* 文本颜色 */  	
	background-color: #007bff; /* 按钮背景色 */
	color: white; /* 按钮文字颜色 */
	border: none; /* 无边框 */
	border-radius: 10px; /* 圆角 */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 按钮阴影 */
	cursor: pointer; /* 鼠标指针样式 */
	transition: background-color 0.3s, transform 0.3s; /* 过渡效果 */
	width: 100px;
	height: 41px;
	font-size: 14px;
}  

.delete-button:hover {
    background-color: #0056b3; /* 悬停时背景色 */
}
.delete-button:active {
    background-color: #003f7f; /* 点击时背景色 */
}

.clear-button {  
	margin-right: 20px;
	color: white; /* 文本颜色 */  	
	background-color: #ff0000; /* 按钮背景色 */
	color: white; /* 按钮文字颜色 */
	border: none; /* 无边框 */
	border-radius: 10px; /* 圆角 */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 按钮阴影 */
	cursor: pointer; /* 鼠标指针样式 */
	transition: background-color 0.3s, transform 0.3s; /* 过渡效果 */
	width: 100px;
	height: 41px;
	font-size: 14px;
}  

.clear-button:hover {
    background-color: #ca0000; /* 悬停时背景色 */
}
.clear-button:active {
    background-color: #aa0000; /* 点击时背景色 */
}

.date-picker {  
    cursor: pointer; /* 当用户点击输入框时显示光标为小手图标 */  
}

.flatpickr-months .flatpickr-monthDropdown-month {  
    font-size: 15px; /* 尝试调整这里，根据实际的HTML结构可能需要调整选择器 */  
}  

  
/* 表格相关的样式 */


/* 美化表格 */
#history-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
	
}

#history-table th, #history-table td {
    border: 0px solid #ddd;
    padding: 8px;
	
}

#history-table th {
    background-color: #00aaff;
	color: #ffffff;
    text-align: left;
    font-weight: bold;
	
}

#history-table tr:nth-child(even) {
    background-color: #f9f9f9;
	
}

#history-table tr:hover {
    background-color: #ddd;
	color: #009cfd;
}

/* 美化分页按钮 */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.pagination-button:hover {
    background-color: #0056b3;
}

#page-info {
    margin: 0 10px;
    font-size: 14px;
}
/* 模态窗口*/
.modal-title{
	font-size: 15px;
	width: 100px;
	color: #aaaaaa;
	
}
.modal-table {
    width: 200px;
    border-collapse: collapse; /* Ensure borders are collapsed */
    margin: 0 auto; /* Center the table */
	
}
.modal-table-item {
    font-size: 15px;
    width: 100px;
    text-align: center; /* Center align text in table cells */
}
.modal-table thead th {
	font-size: 15px;
    background-color: #009cfd; /* Blue background for the header */
    color: white; /* White font for the header */
    text-align: center; /* Center align text in header cells */
    padding: 10px; /* Padding inside header cells */
}
.modal-table tbody td {
    text-align: center; /* Center align text in body cells */
    padding: 10px; /* Padding inside body cells */
}
}